
.result{
  margin-top: 1em;
}

img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.display_name {
  color: black;
  font-size: 2em;
}

.name {
  font-size: 1em;
  color: #aaa;
}

.stream{
  color: #fff;
}
